body {
  background-color: #805498;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tab {
  background-color: #7f4488;
  padding: 10px 20px;
  cursor: pointer;
}

.tab-content {
  display: none;
}

.active-tab {
  background-color: white;
  color: black;
}

.active-content {
  display: block;
}

div {
  width: 1000px;
  margin: auto;
  border: 1px solid white;
  background-color: #b074b9;
}

p {
  width: 980px;
  margin: auto;
}

h1 {
  width: 980px;
  margin: auto;
}

h2 {
  width: 980px;
  margin: auto;
}

h3 {
  width: 980px;
  margin: auto;
}

li {
  width: 940px;
  margin: auto;
}
